
<div>
    <h2> Add car list </h2>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter cars" [(ngModel)]="Orderitem" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="onClick()">
        <span class="glyphicon glyphicon-ok"></span>
        </button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div>
            <h3 > Get details of cars </h3>
        
            <div class="row">
                <div class="col-xs-6 col-md-4">
                        <div class="fetch-group-btn">
                            <button type="button" class="btn btn-outline-primary"(click)="getOrderItems()">
                <span class="glyphicon glyphicon-ok"></span>
                </button>
                        </div>
                        <table class="table table-bordered table-dark">
                                <thead class="thread-dark">
                              
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col"> Order ID</th>
                                  <th scope="col"> User ID</th>
                                  <th scope="col">Order Item Model</th>
                                  <th scope="col">Engine</th>
                                  <th scope="col">Make</th>
                                  <th scope="col">Year</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>{{ Orderitem.orderId }}</td>
                                  <td>{{ Orderitem.userId }}</td>
                                  <td>{{ Orderitem.orderItemModel }} </td>
                                  <td>{{ Orderitem.engine }} </td>
                                  <td>{{ Orderitem.make }} </td>
                                  <td>{{ Orderitem.year }}</td>
                                </tr>
                              </tbody>
                            </table>
                      
                    </div>
                </div>
            </div>
        
    
</div>